program.mem
.vscode
test_outputs
.__afs*
simv.vdb
*.xml
.restartSimSession.tcl.old
*.out
*simv
*simv.daidir
csrc
*.key
vis_simv
vis_simv.daidir
dve*
inter.vpd
DVEfiles
syn_simv
syn_simv.daidir
synsimv
synsimv.daidir
vcdplus.vpd
vc_hdrs.h
*.elf 
*.dump 
*.mem debug_bin
*.vg 
*.rep 
*.ddc 
*.chk 
*.log 
*.syn
*.db 
*.svf 
*.mr 
*.pvl
program.out.bk
synth/*.res